body {
    background: linear-gradient(to bottom right, rgb(106, 135, 190) 0%, rgb(228, 175, 86)  100%);
    /*background: url(background.png);
    background-size: 1200px,300px;*/
}

.subheading{
  font-family: Ubuntu;
  font-weight:bold;
  font-stretch:ultra-expanded;
  color: rgb(98, 17, 6);
  font-size: 45px;
  margin-left: 30px;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

/*Navigation Bar-------------------------------------------------------------*/
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: rgba(199, 140, 27, 0.9);
  position: fixed;
  margin-left: 10px;
  top: 0;
  width: 100%;
  z-index: 1;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-size: 20px;
  font-family: fantasy;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(230, 140, 27);
}

/*Introduction--------------------------------------------------------------*/
h1{
  padding-top: 30px;
  padding-left: 30px;
  font-family: Ubuntu;
  font-style: italic;
  font-weight:bolder;
  font-stretch:ultra-expanded;
  color: rgb(255, 255, 255);
  font-size: 75px;
}

#subcaption{
  color: white;
  font-family: Josefin Slab;
  font-size: 24px;
  position:relative;
  top: -50px;
  margin-left: 30px
}

#intro{
  margin-left: 30px;
  position: relative;
  top: -20px;
}

.intro{
  color: rgb(105, 52, 9);
  font-family: cantarell;
}

p{
  text-align: center;
  font-size: 20px;
  font-family: Source Code Pro;
}

#icon{
  float: right;
  height: 230px;
  width: 200px;
  padding-top: 30px;
  padding-right: 30px;
}

/*Best-Of Slider-------------------------------------------------------------*/
#bestof{
  background-image: url(https://media.istockphoto.com/photos/background-of-old-canceled-postage-stamps-xxxl-picture-id155014513);
  padding-bottom: 90px;
  border: inset silver 7px;
}

#bestoftitle{
  color: rgb(98, 17, 6);
}

#whiteback{
  background: wheat;
}

@keyframes slideranimation {
0%{
  left:0;
}

25%{
  left:-800px;
}

50%{
  left:-1600px;
}

75%{
  left:-2400px;
}

100%{
  left:-3200px;
}
}

#bestofbox{
 position: relative;
 width:800px;
 top: 240px;
 left: 50%;
 overflow: hidden;
 transform: translate(-50%, -50%);
 border-style: ridge;
 border-color: rgb(219, 120, 0);
 border-width: 24px;
}

#innerbox{
  position:relative;
  width: 4000px;
  animation: slideranimation 20s infinite;
}

#innerbox img{
  float: left;
}

/*Image Gallery--------------------------------------------------------------*/

.stamppic{
  border-style: inset;
  border-color: rgb(147, 70, 0);
  border-width: 8px;
  width:396px;
  float:left;
  margin:10px;
}

.stamppic:hover {
  border-style:outset;
  border-color: rgb(227, 145, 23);
}

#gallery{
  width: 1300px;
  position: relative;
  margin: auto;
}

/*footer---------------------------------------------------------------------*/
#footer{
  margin-bottom: 10px;
  float:left;
  width: 100%;
  padding-top:10px;
  padding-bottom:10px;
  background-color: maroon;
  color: white;
  text-align: center;
}
