
body {
    background: linear-gradient(to bottom, rgb(34, 31, 185) 0%, rgb(212, 140, 18)  100%);
    /*background: url(background.png);
    background-size: 1200px,300px;*/
}

/*Navigation Bar*/
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: rgba(199, 140, 27, 0.9);
  position: fixed;
  margin-left: 10px;
  top: 0;
  width: 100%;
  z-index: 1;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-size: 20px;
  font-family: fantasy;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(230, 140, 27);
}

/*Introduction*/
h1{
  padding-top: 55px;
  padding-left: 30px;
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 75px;
  line-height: 0pt;

}

#top h2{
  font-family: Arial;
  font-size: 20px;
  line-height: 10pt;
}

#intro h4{
  line-height: 20pt;
}

#intro{
}

#icon{
  float: right;
  height: 210px;
  width: 180px;
  padding-top: 30px;
  padding-right: 10px;
}

/*Best-Of Slider*/
@keyframes slideranimation {
0%{
  left:0;
}

25%{
  left:-800px;
}

50%{
  left:-1600px;
}

75%{
  left:-2400px;
}

100%{
  left:-3200px;
}
}

#bestof{
 position: relative;
 width:800px;
 top: 300px;
 left: 50%;
 overflow: hidden;
 margin-top:100px;
 margin-bottom: 100px;
 transform: translate(-50%, -50%);
 border-style: ridge;
 border-color: rgb(219, 120, 0);
 border-width: 24px;
}

#innerbox{
  position:relative;
  width: 4000px;
  animation: slideranimation 20s infinite;
}

#innerbox img{
  float: left;
}

/*Image Gallery*/
.stamppic{
  border-style: inset;
  border-color: rgb(147, 70, 0);
  border-width: 6px;
  width:400px;
  float:left;
  margin:10px;
}

#gallery{
  width: 1300px;
  position: relative;
  margin: auto;
}
